/* .App {
  text-align: center;
} */

.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-horizontal {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.pet-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
}

.pet-card img {
    width: 100px;
    height: 100px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.viewer {
    width: 100vw;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ------------------------------------start of navbar-------------------------------- */

ul.navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
}

ul.navbar li {
    display: block;
    margin: 10px;
}

ul.navbar li.icon {
    align-self: flex-start;
}

ul.navbar li.links {
    align-self: flex-end;
}

ul.navbar li {
    text-decoration: none;
    transition: 1s ease;
}

ul.navbar li.links:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* ------------------------------------end of navbar-------------------------------- */