.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-horizontal {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.pet-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
}

.pet-card img {
    width: 100px;
    height: 100px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.viewer {
    width: 100vw;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

ul.navbar {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
}

ul.navbar li {
    display: block;
    margin: 10px;
    text-decoration: none;
    transition: 1s ease;
}

ul.navbar li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ----------- Phone view ----------- */
@media only screen and (max-width: 480px) {
    .container {
        height: auto;
    }

    .container-horizontal {
        flex-direction: column;
    }

    .pet-card img {
        width: 80px;
        height: 80px;
    }

    .App-logo {
        height: 20vmin;
    }

    .App-header {
        font-size: calc(8px + 2vmin);
    }

    ul.navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul.navbar li {
        margin: 5px;
    }
}
