.landing-container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    /* background: #f0f0f0; */
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    flex-direction: row;
    font-size: calc(1vw + 1vh);
    visibility: hidden;
    /* text-shadow: 0, 0, 0 #5ab0cdba; */
}

.text {
    font-weight: bold;
    color: #209cd5;
    text-align: center;
    /* box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 30px 30px 30px #cccccc inset, -30px -30px 30px #ffffff inset; */
    /* border-radius: 10%; */
}

@keyframes anime {
    0% {
        width: 100px;
        height: 100px;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
        font-size: 5px;
        /* text-shadow: 1px 1px 1px #5ab0cdba; */
        visibility: visible;
    }
    25% {
        width: 100px;
        height: 100px;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
        font-size: 10px;
        /* text-shadow: 3px 3px 3px #5ab0cdba; */
        /* visibility: visible; */
    }
    50% {
        width: 240px;
        height: 100px;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
        font-weight: 32px;
        /* text-shadow: 5px 5px 5px #5ab0cdba; */
        font-size: 20px;
    }
    75% {
        width: 480px;
        height: 240px;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
        font-size: 54px;
        text-shadow: 8px 8px 8px #5ab0cdba;
        opacity: 1
    }
    100% {
        width: 480px;
        height: 240px;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
        font-size: 54px;
        text-shadow: 8px 8px 8px;
        opacity: 0
    }
}

.box img {
    animation: anime-img 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    display: inline-block;
}

@keyframes anime-img {
    0% {
        width: 30px;
        height: 30px;
    }
    25% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    75% {
        width: 70px;
        height: 70px;
        opacity: 1;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}